{namespace neos=TYPO3\Neos\ViewHelpers}
<f:flashMessages as="flashMessages">
	<f:for each="{flashMessages}" as="flashMessage">
		<div data-alert class="alert-box success">
			{flashMessage.message}
		</div>
	</f:for>
</f:flashMessages>
<div data-content="event-list" xmlns:f="http://www.w3.org/1999/XSL/Transform">
	<f:if condition="{exams -> f:count()} > 0">
		<div class="row small-collapse medium-uncollapse">
			<f:render partial="Exams" arguments="{exams: exams, classes: 'exam', login: login}" />
		</div>
	</f:if>

	<div class="row small-collapse medium-uncollapse">
		<div class="columns small-12 text-center">
			<h2>
				Events
			</h2>
		</div>
	</div>

	<div class="row small-collapse medium-uncollapse">
		<f:if condition="{events -> f:count()} == 0">
			<div class="columns small-12">
				<div data-alert class="alert-box text-center">
					Geen speciale events deze maand... Goeie ideeën zijn altijd welkom ;)
				</div>
			</div>
		</f:if>
	</div>
	<div class="row small-collapse medium-uncollapse">
		<f:render partial="EventRowLoop" arguments="{_all}" />
	</div>
</div>